{#
/**
 * @file
 * Этот шаблон используется для вывода страницы с уведомлением об успешной регистрации на сайте.
 *
 * @see template_preprocess_site_registration_successful_registration()
 *
 * @ingroup themeable
 */
#}
{{ successful_registration_notification_text }}
