{#
/**
 * @file
 * Этот шаблон используется для содержимого письма при отправке логина и пароля пользователя.
 *
 * @see template_preprocess_site_registration_mail_get_password()
 *
 * @ingroup themeable
 */
#}
{% if letter_notification_text %}
	<div style="margin-bottom: 30px;">
		{{ letter_notification_text }}
	</div>
{% endif %}

<h2>{{ 'Your access details to the website'|t }}
	<a href="{{ base_url }}">{{ base_url }}</a>
</h2>
<p>
	{{ 'E-mail'|t }}:
	{{ email }}<br>
	{{ 'Password'|t }}:
	{{ password }}
</p>
