{#
/**
 * @file
 * Этот шаблон используется для вывода страницы с уведомлением о подтверждении регистрации на сайте.
 *
 * @see template_preprocess_site_registration_successful_registration()
 *
 * @ingroup themeable
 */
#}
{{ confirm_registration_notification_text }}

<div style="margin: 30px 0;">
	<a href="{{ path(path_to_account) }}">{{ 'Go to my account'|t }}</a>
</div>
